<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="images" value="image"/>
		<add key="ConnectionString" value="data source=.;initial catalog=CWXT;persist security info=False;user id=sa;password=123qwe@%"/>
		<!--Chinese, English, Japanese-->
		<add key="Language" value="Chinese"/>
		<!--默认用户密码-->
		<add key="DefaultPassword" value="111111"/>
		<!--密码有效期-->
		<add key="PasswordDays" value="60"/>
		<!--更改密码提前N天提醒用户-->
		<add key="PasswordAlertDays" value="14"/>
		<!--文件大小限制（单位：KB）-->
		<add key="FileSize" value="300"/>
		<!--允许上传的图片后缀名-->
		<add key="ImageExtension" value="gif;bmp;jpg;jpe;jpeg;png"/>
		<!--Reporting Service的服务器地址-->
		<add key="ReportServer" value="http://localhost/ReportServer?/CWXT/"/>
		<!-- 手机格式验证 -->
		<add key="validateMobile" value="(^13[0-9]{9}$)|(^14[0-9]{9}$)|(^15[0-9]{9}$)|(^18[0-9]{9}$)|(^[0-9]{8}$)"/>
		<add key="Alert" value="false"/>
	</appSettings>
	<system.web>
		<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
		</httpHandlers>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms name="Forms" path="/" loginUrl="Login.aspx" protection="All" timeout="30"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="30"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<httpRuntime maxRequestLength="10240"/>
		<pages validateRequest="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<location path="SystemManage/UserManage/CheckPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>